<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lemoncode</title>
    <link type="text/css" rel="stylesheet" href="styles.scss" />
</head>

<body>
    <header>
        <div class="toolbar">
            <div class="toolbar-title">Welcome Lemoncoders!</div>
            <div class="toolbar-user">Víctor Borrego Pérez</div>
        </div>

    </header>

    <div class="page-container">
        <nav>
            <div class="menu-container">
                <input placeholder="Buscar" />
                <div class="menu-title">Frameworks</div>
                <ul>
                    <li>React</li>
                    <li>Svelte</li>
                    <li>Vue</li>
                    <li>Angular</li>
                </ul>
            </div>
        </nav>

        <main>
            <div class="list">
                <div class="card">
                    <img class="avatar" src="https://avatars.githubusercontent.com/u/14540103?s=96&v=4" />
                    <div class="name">Antonio Contreras</div>
                </div>

                <div class="card">
                    <img class="avatar" src="https://avatars.githubusercontent.com/u/1457912?s=96&v=4" />
                    <div class="name">Braulio Díez</div>
                </div>

                <div class="card">
                    <img class="avatar" src="https://avatars.githubusercontent.com/u/13205689?s=96&v=4" />
                    <div class="name">Santiago Camargo</div>
                </div>

                <div class="card">
                    <img class="avatar" src="https://avatars.githubusercontent.com/u/43171355?s=96&v=4" />
                    <div class="name">Francisco Javier de Jesús Mazzoni</div>
                </div>
                <div class="card">
                    <img class="avatar" src="https://avatars.githubusercontent.com/u/24454225?s=96&v=4" />
                    <div class="name">Javier Calzado</div>
                </div>
                <div class="card">
                    <img class="avatar" src="https://avatars.githubusercontent.com/u/7754966?s=96&v=4" />
                    <div class="name">Jaime Salas</div>
                </div>
                <div class="card">
                    <img class="avatar" src="https://avatars.githubusercontent.com/u/26490961?s=96&v=4" width="96" />
                    <div class="name">Jose Manuel</div>
                </div>
                <div class="card">
                    <img class="avatar" src="https://avatars.githubusercontent.com/u/58438522?s=96&v=4" />
                    <div class="name">Juan Pablo Martínez</div>
                </div>
                <div class="card">
                    <img class="avatar" src="https://avatars.githubusercontent.com/u/4374977?s=96&v=4" />
                    <div class="name">Daniel Sánchez</div>
                </div>
                <div class="card">
                    <img class="avatar" src="https://avatars.githubusercontent.com/u/43609530?s=96&v=4" />
                    <div class="name">Víctor Borrego</div>
                </div>
            </div>
        </main>
    </div>

    <footer>Master Lemoncode</footer>
</body>

</html>