body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
    margin: 0;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    background-color: #66bb6a;
    width: 100%;
    height: 5vh;
    text-decoration: white;

    &-title {
        color: white;
        justify-self: left;
        align-self: center;
        font-weight: bold;font-size: x-large;
        margin-left: 20px;
    }

    &-user{
        color: white;
        margin-left: auto;
        align-self: center;
        font-weight: bold;
        margin-right: 20px;
    }
}

.page-container {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    background-color: #fafafa;
    overflow: auto;
}

.list {
    width: 100%;
    font-family: tahoma;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:5px;
    align-content: flex-start;
}

.card {
    width: 20vh;
    height: 16vh;
    padding: 30px 0 30px;
    margin: 5px;
    border: 2px solid #66bb6a;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.avatar{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
    z-index: 1;
    position: relative;
    border-radius: 50%;
}

.name {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
    font-weight: bold;
  }

  nav {
    position: sticky;
    top: 0;
  }

.menu-container {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 0 2px 2px 0px;
    border-color: #66bb6a;
    border-bottom-right-radius: 5px;
}

.menu-search {
    text-decoration: none;
    padding-left: 10px;
    font-size: 25px;
    display: block;
}

.menu-title {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #66bb6a;
    display: block;
}

.menu-container p {
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    color: #777;
    text-align: left;
    height: 36px;
    position: relative;
    border-bottom: 1px solid #EEE;
    }

.menu-container input {
    border: 1px solid #EEE;
    padding: 12px 20px;
    outline: none;
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    color: #777;
    text-align: left;
}

.menu-container p:hover {
    color: #66bb6a;
}

footer {
    text-align: center;
    background-color: #fafafa;
    font-style: italic;
}


@media only screen and (max-width: 768px) {

    .page-container {
        width: 100%;
        height: 95vh;
        display: flex;
        flex-direction: column;
    }

    .list {
        flex-direction: column;
    }
    
    .card {
        width: 90%;
        height: 100px;
        display:flex;
        align-items: center;
        padding: 5px;
    }

    .avatar{
        height: 80px;
        width: 80px;
        margin-left: 25px;
        align-self: center;
        margin-bottom: 0;
    }

    .name {
        margin-left: 15px;
      }

    nav {
        position:relative;
      }

      .menu-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menu-title {
        display: none;
    }

      .menu-container p {
          display: inline;
          text-align: justify;
          font-size: 25px;
        }

        .menu-container input {
            display: none;
        }

}