<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.scss" />
    <title>Document</title>
</head>

<body>
    <div class="card">
        <img src='https://img.motor16.com/articulos/19000/19134_mU7RLi01x6PH5-p1.jpg' class="image" />
        <div class="title">
            BMW M4 GT3.
        </div>
        <div class="content">
            The BMW M4 GT3 will contest its first races, for the purpose of testing under competitive conditions, in
            2021 and will do battle for victory as the new BMW icon on the GT racing scene from the 2022 season.
        </div>
        <div class="metadata">Published: May 16 2021</div>
        <button type='button' class='info'>More info</button>
    </div>
</body>

</html>